---
http_interactions:
- request:
    method: post
    uri: http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer/project
    body:
      encoding: UTF-8
      string: f=json&inSR=102100&outSR=4326&geometries=%7b%22geometryType%22%3a%22esriGeometryMultipoint%22%2c%22geometries%22%3a%5b%7b%22points%22%3a%5b%5b-97.06138%2c32.837%5d%2c%5b-97.06133%2c32.836%5d%2c%5b-97.06124%2c32.834%5d%2c%5b-97.06127%2c32.832%5d%5d%7d%5d%7d
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain;charset=utf-8
      etag:
      - '-507312874'
    body:
      encoding: UTF-8
      string: ! '{"geometryType":"esriGeometryMultipoint","geometries":[{"points":[[-0.000871917211517328,0.000294979789848263],[-0.000871916762359686,0.000294970806689621],[-0.000871915953875931,0.000294952840385059],[-0.000871916223370516,0.000294934874080496]]}]}'
  recorded_at: Mon, 07 May 2012 16:41:47 GMT
- request:
    method: get
    uri: http://sampleserver1.arcgisonline.com/ArcGIS/rest/services?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain;charset=utf-8
      etag:
      - '1139058324'
    body:
      encoding: US-ASCII
      string: ! '{"currentVersion":10.01,"folders":["Demographics","Elevation","Locators","Louisville","Network","Petroleum","PublicSafety","Specialty","TaxParcel","WaterTemplate"],"services":[{"name":"Geometry","type":"GeometryServer"}]}'
  recorded_at: Wed, 12 Aug 2015 19:22:09 GMT
recorded_with: VCR 2.1.1
