---
http_interactions:
- request:
    method: get
    uri: http://sampleserver1.arcgisonline.com/ArcGIS/rest/services?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain;charset=utf-8
      etag:
      - '1139058324'
    body:
      encoding: US-ASCII
      string: ! '{"currentVersion":10.01,"folders":["Demographics","Elevation","Locators","Louisville","Network","Petroleum","PublicSafety","Specialty","TaxParcel","WaterTemplate"],"services":[{"name":"Geometry","type":"GeometryServer"}]}'
  recorded_at: Mon, 07 May 2012 15:01:14 GMT
recorded_with: VCR 2.1.1
